/**/

@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed:300,300i,400,400i,500,500i,600,600i,700,700i|Barlow+Semi+Condensed:300,300i,400,400i,500,500i,600,600i,700,700i|Quicksand:400,500,700");


/*------------------------------ GLOBAL LAYOUT ---------------------------------------*/

.header {

    padding: 0;
}

.header-layout {

    margin: 0;
    padding: 0;
    height: 39px;
}


.header-title-layout {

    padding: 0;

}

.audio-section-layout {}


.footer-layout {

    padding: 50px 0px 50px 0px;
}

.container-fluid-layout {
    
    padding: 0px;
    margin: 0px;
    
}

.row-layout {

    margin: 0px;
}


/*------------------------------ MAIN PAGE BACKGROUND IMAGES -----------------------------*/

.background-image {

    background-image: url("../images/home-page/Background-Image-Optimized-960-540.jpg");
    background-position: 50% 0%;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 0;
    margin: 0;
    opacity:0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-animation-name: fade-up;
            animation-name: fade-up;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
}

.background-image-mask {
    
     background-color: rgba(0, 0, 0, 0.25);
     height: 100%;
     padding: 0;
     margin: 0;
     
}

/* ----------------------------- MAIN PAGE VIDEO AND AUDIO ------------------------------*/

.all-video-wrapper {

    background-color: #181818;
    padding-top: 50px;
    padding-bottom: 50px;
    
}
.video-wrapper {

    padding-bottom: 15px;

}

.video-aspect {

    padding-bottom: 56.25%;

}

.video-responsive-container {

    position: relative;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    height: auto;
    max-width: 100%;
    display: block;
    overflow: hidden;

}

.video-overlay {

    position: absolute;
    width: 100%;
    height:100%;
    background:#000;
    opacity:0.4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    -webkit-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
    
}

.video-wrapper:hover .video-overlay {

    opacity: 1.0;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

}

.video-clip-mobile {

    position: absolute;
    top: 0;
    max-width: 100%;
    height: 100%;
 

}

.video-clip-one,
.video-clip-two {

    position: absolute;
    top: 0;
    max-width: 100%;
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;

}


/* ----------------------------- CUSTOM ICONS --------------------------------------*/

.audio-player {

    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    border-radius: 12px;
    /*height: 30px;*/
    margin-top: 25px;
}    

.fader-image-container {

    padding: 45px 0px 45px 0px;
}

.fader-image {

    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 60%;
    width: 60%;
    /*margin-bottom: 50px;*/

}

.home-icon-fill {

    display: none;
}
.home-icon {

    opacity: 0;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-animation-name: fade-up;
            animation-name: fade-up;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;

}

.home-icon-fill {

    position: absolute;
    display: inline-block;
    left: 15px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: opacity 0.5s cubic-bezier(.83,.18,.35,.77);
    transition: opacity 0.5s cubic-bezier(.83,.18,.35,.77);
}

.home-image-container a:hover .home-icon-fill,
.home-image-container a:focus .home-icon-fill {

   opacity: 1;

   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; 
   
}

.home-image-container {

    margin-top: 5px;
}

.icon-wrapper {
    position: relative;
    height: 44vh; 
}

.video-icon-container {

    position: relative;
    top: 100%;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    padding-left: 75%;
   /* -webkit-transition: top 0.5s cubic-bezier(.83,.18,.35,.77);
    transition: top 0.5s cubic-bezier(.83,.18,.35,.77);*/
}


.speaker-icon-container {

    position: relative;
    top: 100%;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    padding-right: 75%;
   /* -webkit-transition: top 0.5s cubic-bezier(.83,.18,.35,.77);
    transition: top 0.5s cubic-bezier(.83,.18,.35,.77);*/
}



.speaker-icon,
.video-icon {

    /*-webkit-transform: scale(1.0);

        -ms-transform: scale(1.0);

            transform: scale(1.0);*/
    display: block;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    padding: 0px 0px 0px 0px;
    
   
    margin: 0 auto;
    -webkit-transition: border 0.5s cubic-bezier(.83,.18,.35,.77);
    transition: border 0.5s cubic-bezier(.83,.18,.35,.77);
    -webkit-animation-name: fade-up;
            animation-name: fade-up;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-delay: 1.5s;
            animation-delay: 1.5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    
}

/*.speaker-icon:hover,
.speaker-icon:focus {
    
    -webkit-transform: scale(1.05);
    
        -ms-transform: scale(1.05);
    
            transform: scale(1.05);
    

}*/



/*.video-icon {

    /*-webkit-transform: scale(1.0);

        -ms-transform: scale(1.0);

            transform: scale(1.0);
    display: block;

    opacity: 0;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    padding: 0px 0px 0px 0px;
    
    /*border-radius: 4px;
    
    margin: 0 auto;
    -webkit-transition: border 0.5s cubic-bezier(.83,.18,.35,.77);
    transition: border 0.5s cubic-bezier(.83,.18,.35,.77);

    -webkit-animation-name: fade-up;

            animation-name: fade-up;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-delay: 1.5s;
            animation-delay: 1.5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    
}*/

/*.video-icon:hover,
.video-icon:focus {
    
    -webkit-transform: scale(1.05);
    
        -ms-transform: scale(1.05);
    
            transform: scale(1.05);
    

}*/

 
.icon-underline {

    padding: 0px;
    width: 35%;
    opacity: 0;
    -webkit-animation-name: fade-up;

    animation-name: fade-up;
-webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
-webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
-webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
-webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
-webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
   /* border: 0.5px solid transparent;
    -webkit-animation-name: underline-mobile;
            animation-name: underline-mobile;
    -webkit-animation-timing-function:cubic-bezier(.83,.18,.35,.77);
            animation-timing-function:cubic-bezier(.83,.18,.35,.77);
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
    -webkit-animation-delay: 1.5s;
            animation-delay: 1.5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;*/
} 


/*-------------------------------- END OF MEDIA ----------------------------*/



/*-------------------------------- HEADER ----------------------------------*/

.main-heading a {

    color: #000;
}

.main-heading a:hover,
.main-heading a:focus {
    color: #000;
    text-decoration: none;
}


.main-heading-background-color {

    background-color: rgba(255, 255, 255, 1);

}

.main-heading {

    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-animation-name: fade-up;
            animation-name: fade-up;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-delay: 1.5s;
            animation-delay: 1.5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;

}



.heading-seperate {

    color: #8d8d8d;
}

.main-heading .heading-bold {

    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 700;

}


/*------------- DROP-DOWN LINKS STYLING -------------------*/



.nav-links {

    list-style: none;
    vertical-align: middle;
    padding-left: 0px;
    text-align: left;
}




.link-drop {

    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 200;
    letter-spacing: 0.5px;
    font-size: 14px;
    padding: 5px 20px 10px 0px;

}

/*.link-item {

    color: #ffffff;
    text-decoration: none;
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    -webkit-transition: all 0.5s cubic-bezier(.83,.18,.35,.77);
    transition: all 0.5s cubic-bezier(.83,.18,.35,.77)
     
}


.link-item:hover,
.link-item:focus {
    
    text-decoration: none;
    color: #fff;
    opacity: 1.0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    
}*/


.link-underline {

    display: inline-block;
    
}

.link-underline:after {

    content:'';
    width: 100%;
    height: 1px;
    display: block;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    background: #fff;
    -webkit-transition: all 0.5s cubic-bezier(.83,.18,.35,.77);
    transition: all 0.5s cubic-bezier(.83,.18,.35,.77)
}

.link-underline:hover:after,
.link-underline:focus:after {

    opacity: 1;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.link-item-me {
    
    color: #000000;
    text-decoration: none;
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    -webkit-transition: opacity 0.5s cubic-bezier(.83,.18,.35,.77);
    transition: opacity 0.5s cubic-bezier(.83,.18,.35,.77)
        
}

.link-item-me:hover,
.link-item-me:focus {
    
    text-decoration: none;
    color: rgb(0, 0, 0);
    opacity: 1.0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    
}

.link-underline-me {
    
    display: inline-block;
    
}
    
.link-underline-me:after {

    content:'';
    width: 100%;
    height: 1px;
    display: block;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    background: rgb(0, 0, 0);
    -webkit-transition: opacity 0.5s cubic-bezier(.83,.18,.35,.77);
    transition: opacity 0.5s cubic-bezier(.83,.18,.35,.77)
}

.link-underline-me:hover:after,
.link-underline-me:focus:after {

    opacity: 1;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}


/* --------------------- DESKTOP LINKS STYLING ----------------*/

.link-inline {
    
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 200;
    letter-spacing: 0.5px;
    font-size: 14px;
    padding: 5px 20px 8px 0px;
    
}

.desktop-link-item {

    color: #000;
    padding: 2px 5px 2px 5px;
    border:1px solid #fff;
    border-radius: 2px;
    -webkit-transition: border 0.5s cubic-bezier(.83,.18,.35,.77);
    transition: border 0.5s cubic-bezier(.83,.18,.35,.77);

}
   
        
   
    
.header-underline {

    display: inline-block;

}

.header-underline:after {

    content:'';
    width: 100%;
    height: 1px;
    display: block;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    background: #000000;
    -webkit-transition: all 0.5s cubic-bezier(.83,.18,.35,.77);
    transition: all 0.5s cubic-bezier(.83,.18,.35,.77);

}

.header-underline:hover:after,
.header-underline:focus:after {

    opacity: 0.8;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";

}

.desktop-link-item:hover,
.desktop-link-item:focus {

    text-decoration: none;
    color: #000;
   
}

.nav-links {
        margin-top: 0px;
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        -webkit-animation-name: fade-up;
                animation-name: fade-up;
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        -webkit-animation-duration: 0.5s;
                animation-duration: 0.5s;
        -webkit-animation-delay: 0.5s;
                animation-delay: 0.5s;
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
        -webkit-animation-iteration-count: 1;
                animation-iteration-count: 1;

}

  


/* ------------------- BOOTSTRAP DROPDOWN MENU CUSTOM STYLING ---------*/



.dropdown-menu {

    position: absolute;
    top: 36px;
    left: 0px;
    z-index: 1000;
    display: block;
    float: left;
    min-width: 160px;
    padding: 5px 0px 5px 5px;
    list-style: none;
    font-size: 14px;
    background-color: transparent;
    border: none;
    box-shadow: none;
    -webkit-transform-origin: top;
        -ms-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
            transform: scale(1, 0);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    
    
}

  .dropdown-menu-me {
  
    position: absolute;
    top: 36px;
    left: 0px;
    z-index: 1000;
    display: block;
    float: left;
    min-width: 120px;
    padding: 5px 0px 5px 5px;
    list-style: none;
    font-size: 14px;
    background-color: #ffffffd9;
    border: none;
    box-shadow: none;
    -webkit-transform-origin: top;
        -ms-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
            transform: scale(1, 0);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    border-radius: 0px 0px 6px 6px;
   
}

.open > .dropdown-menu {

    -webkit-transform: scale(1, 1);

        -ms-transform: scale(1, 1);

            transform: scale(1, 1);
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transition: opacity 0.5s, -webkit-transform 0.4s cubic-bezier(0.3, 0, 0, 1.3);
    transition: opacity 0.5s, -webkit-transform 0.4s cubic-bezier(0.3, 0, 0, 1.3);
    transition: opacity 0.5s, transform 0.4s cubic-bezier(0.3, 0, 0, 1.3);
    transition: opacity 0.5s, transform 0.4s cubic-bezier(0.3, 0, 0, 1.3), -webkit-transform 0.4s cubic-bezier(0.3, 0, 0, 1.3);

}


/*-------------------- MENU ICON  -------------------------*/


.dropdown-wrapper {

    padding-left: 0px;

}

.cross-container {

    display: block;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    position: relative;
    width: 30px;
    height: 30px;
    border: none;
    top: 3px;
    -webkit-animation-name: fade-up;
            animation-name: fade-up;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;

}

/*-------------------- BUTTON  -------------------------------*/

.cross-bar-1 {

    position: absolute;
    top: 50%;
    left: 15%;
    width: 70%;
    border-radius: 5px;
    height: 2px;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg); 
    background-color: #000;
    -webkit-transition: width 0.2s ease-in-out;
    transition: width 0.2s ease-in-out;
    
}

.cross-container:hover .cross-bar-1,
.cross-container:focus .cross-bar-1 {
    
    width: 50%;
    
    }


.cross-bar-2 {
    
    position: absolute;
    top: 25%;
    left: 15%;
    border-radius: 5px;
    width: 70%;
    height: 2px;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg); 
    background-color:  #000;
    -webkit-transition: width 0.2s ease-in-out;
    transition: width 0.2s ease-in-out;

}

.cross-container:hover .cross-bar-2,
.cross-container:focus .cross-bar-2 {
    
    
    width: 80%;
    
}

.cross-bar-3 {
    
    position: absolute; 
    top: 75%;
    left: 15%;
    border-radius: 5px;
    width: 70%;
    height: 2px;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg); 
    background-color:  #000;
    -webkit-transition: width 0.2s ease-in-out;
    transition: width 0.2s ease-in-out;

}

.cross-container:hover .cross-bar-3,
.cross-container:focus .cross-bar-3 {
    
    width: 70%;
    
}

.cross-container:hover,
.cross-container:focus {

    cursor: pointer;

}




    
/*-------------------------------- MAIN PAGE VIDEO SECTION ----------------------------------*/
.video-heading-container {

    margin-bottom:25px;
    border-radius: 4px;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 150px;
    border: 0.5px solid #ebe9e9;

}

.video-reel-title {
    
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 16px;
    margin-bottom: 6px;
    margin-top: 6px;
    text-align: center;
    color: #ebe9e9;
}
  
.video-title-container {

    padding-bottom: 5px;
}

.video-title {

    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 15px;
    margin-bottom: 6px;
    text-align: center;
    color: #ebe9e9;

}


/*-------------------------------- MAIN PAGE AUDIO SECTION ----------------------------------*/


.audio-title-container {

    margin-top: 50px;
    margin-bottom:25px;
    border-radius: 4px;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 150px;
    border: 1px solid black;

}

.audio-reel-title {
    
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 16px;
    margin-bottom: 6px;
    margin-top: 6px;
    text-align: center;
    color: #000;
    
}
        



    
/*-------------------------------- FOOTER ----------------------------------*/


.footer-top-row,
.footer-middle-row,
.footer-bottom-row {

    padding: 15px 0px 25px 0px;
    margin: 0px;

}


.footer-background-color {

    background-color: #cecece;

}

.footer-list {

    list-style: none;
    padding: 0px;
    margin: 10px;

}

.footer-list-downloads {

    list-style: none;
    padding: 0px;
    margin: 0px;

}

.footer-list-item {

    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 13px;
    text-align: center;
    color: #000;
   
}



.footer-links {

    font-weight: 300;
    color: #000;
    -webkit-transition: font-weight 0.3s cubic-bezier(.83,.18,.35,.77);
    transition: font-weight 0.3s cubic-bezier(.83,.18,.35,.77);

}

.footer-links:hover,
.footer-links:focus {

    color: #363636;
    text-decoration: none;
    font-weight: 400;

}

.social-media-icons {

    text-align: center;
    font-size: 30px;
    padding-top: 25px;

}

.social-media-icons a>i {

    padding: 15px 15px 25px 15px;
    color: #363636;
    -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
            transform: scale(1.0);
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(.83,.18,.35,.77);
    transition: -webkit-transform 0.2s cubic-bezier(.83,.18,.35,.77);
    transition: transform 0.2s cubic-bezier(.83,.18,.35,.77);
    transition: transform 0.2s cubic-bezier(.83,.18,.35,.77), -webkit-transform 0.2s cubic-bezier(.83,.18,.35,.77);

}

.social-media-icons a>i:hover,
.social-media-icons a>i:focus {
    
    -webkit-transform: scale(1.2);
    
        -ms-transform: scale(1.2);
    
            transform: scale(1.2);

                color: #363636;

}



.social-media-icons a:hover,
.social-media-icons a:focus {

    
    text-decoration: none;

}



.footer-underline {
    
    display: inline-block;

}
    
.footer-underline:after {

    content:'';
    width: 100%;
    height: 1px;
    display: block;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    background: #000000;
    -webkit-transition: all 0.5s cubic-bezier(.83,.18,.35,.77);
    transition: all 0.5s cubic-bezier(.83,.18,.35,.77)

}

.footer-underline:hover:after,
.footer-underline:focus:after {

    opacity: 0.8;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    
}

/*--------------  ME PAGE STYLES--------------*/

.bio-image-background {

    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-image: url("../images/me-page/rachel-boot-repaired.jpg");
    background-position: 35% 0%;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90.5vh;
    width: 100vw;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    
    -webkit-animation-name: fade-up;
    
            animation-name: fade-up;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
    -webkit-animation-duration: .5s;
            animation-duration: .5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    
    
}

.bio-image {
    
    position:relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    height:50vh;
    padding-top: 0px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    
    -webkit-animation-name: fade-up;
    
            animation-name: fade-up;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
    -webkit-animation-duration: .5s;
            animation-duration: .5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;


}

.article-heading {

    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 16px;
    text-align: center;
    color: #000;
}

.heading-underline:after {

    content:'';
    display: block;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 30px;
    height: 1px;
    background: #000000;

}

.heading-underline-my-approach:after {

    content:'';
    display: block;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 110px;
    height: 1px;
    background: #000000;


}

.review-heading-underline:after {

    content:'';
    display: block;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 70px;
    height: 1px;
    background: #000000;


}

.my-approach-image-container-1,
.my-approach-image-container-2,
.review-image-container-3,
.review-image-container-4 {

    padding-left: 0px;
    padding-right: 0px;
}

.me-page-image-mask {

    background-color: rgba(0, 0, 0, 0.2);
    height: 100vh;
    width: 100vw;
}
.my-approach-image-1 {

    background-image: url("../images/me-page/record-technology-equipment-microphone-mic-studio-775481-pxhere.com.1920-1080-75.jpg");
    background-attachment: scroll;
    background-position: 10% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}


.my-approach-image-2 {
    
    background-image: url("../images/me-page/microphone-mic-studio-775481-pxhere.com.-1920-1080-75.jpg");
    background-attachment: scroll;
    background-position: 55% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}

.review-image-3 {
    
    background-image: url("../images/me-page/laptop-notebook-music-light-controller-microphone-847252-pxhere.com-1920-1080-75.jpg");
    background-attachment: scroll;
    background-position: 45% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}

.review-image-4 {
    
    background-image: url("../images/me-page/S3-SIDE-ON-75-1920-1080.jpg");
    background-attachment: scroll;
    background-position: 45% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}


.article-wording {

    font-family: 'Quicksand', sans-serif;
    padding: 5px 15px 15px 15px;;
    text-align: left;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 13px;
    text-align: left;
    color: #000;
    /*background-color: #a8aaae45;*/

    
}

.review-wording {

    text-align: center;
    padding-bottom: 0px;
    font-weight: 500;
    
    
}

.review-name {

    font-weight: 200;
    color: #5a5a5a;

}
.article-container {

    padding-left: 0px;
    padding-right: 0px;

}

.client-icons-wrapper {
    
    position: relative;
    height: 25vh;
    width: 50vw;
    
    
}


.client-icons {

    max-width: 45%;
    max-height: 45%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    
}


.my-approach-section,
.review-section {

    padding-top: 25px;
    padding-bottom: 25px;
}


.bio-section {

    padding-top: 25px;
    padding-bottom: 25px;
   
}

/*----------------------------------------------------------*/



/*.scroll-arrow-mobile {
    
    position: relative;
    top: 90vh;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    font-size: 32px;
    color: #000000a4;
    
    -webkit-animation-name: arrow-down-mobile;
    
            animation-name: arrow-down-mobile;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 7;
            animation-iteration-count: 7;
    -webkit-animation-timing-function: cubic-bezier(.67,.35,.61,.15);
            animation-timing-function: cubic-bezier(.67,.35,.61,.15);
    -webkit-animation-duration: 0.6s;
            animation-duration: 0.6s;
}*/

.scroll-arrow-desktop-container {

    position: relative;
    height: 50px;
    
}
.scroll-arrow-desktop {

    position: relative;  
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    font-size: 32px;
    color: #555454;
    
    
    
    -webkit-animation-name: arrow-down;
    
    
    
            animation-name: arrow-down;
    -webkit-animation-delay: 1.5s;
            animation-delay: 1.5s;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 7;
            animation-iteration-count: 7;
    -webkit-animation-timing-function: cubic-bezier(.67,.35,.61,.15);
            animation-timing-function: cubic-bezier(.67,.35,.61,.15);
    -webkit-animation-duration: 0.6s;
            animation-duration: 0.6s;
}

/*-------------- LOCATE-ME-PAGE -----------------------------*/
.locate-me-background-image {

    background-image: url("../images/locate-me-page/BonVolks-Build5-optimised.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: 35% 0%;
    width: 100vw;
    height: 94.5vh;
    opacity:0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-animation-name: fade-up;
            animation-name: fade-up;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;

}

.locate-me-background-image-mask {

    background-color: rgba(0,0,0,0.58);
    height: 94.5vh;
    width: 100vw;
}

.locate-me-background-image {


}

.bonvolks-logo-container {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 30%;
    background-color: rgba(255, 255, 255, 0.86);
   

}
.bonvolks-logo {

    background-image: url("../images/locate-me-page/static1.squarespace.com.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
}


.map-wrapper {
    width: 100vw;
    background-color: #181818;
    padding-top: 25px;
    padding-bottom: 25px;

}
.map-container {
    left: 10vw;
    width: 80vw;
    height: 50vh;
    
}
.map-container iframe {
    position: relative;
    top: 10%;
    width: 100%;
    height: 80%;
}

.locate-me-article-section-wrapper {

    padding-top: 25px;
    padding-bottom: 25px;
   
}

.locate-me-heading-underline:after {

        content:'';
        display: block;
        position: relative;
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        width: 86px;
        height: 1px;
        background: #000000;

}



.locate-me-article-wording p {

    margin-top: 0px;
   

}
/*-------------- BOOK-ME PAGE -------------------------------*/

.book-me-background-image {

    background-image: url("../images/book-me-page/s3-top-down-960-540.jpg");
    /*background-attachment: scroll;*/
    position: fixed;
    background-position: 20% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -10;
    width: 100vw;
    height: 94.5vh;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    
    -webkit-animation-name: fade-up;
    
            animation-name: fade-up;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
    -webkit-animation-duration: .5s;
            animation-duration: .5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
}

.book-me-background-image-mask {
    background-color:rgba(0, 0, 0, 0.58);
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 94.5vh;
}

.calender-container {

    text-align: center;
    padding: 0px;
    height: 94.5vh;
    position: relative;
}
.calender-container a {

    display: inline-block;
    text-decoration: none;
    color: #000f;
    position: absolute;
    left: 50vw;
    top: 45vh;
    transform: translate(-50%, -50%);
}
    
    

}
.calender-container a:hover,
.calender-container a:focus {

    text-decoration: none;
    color: #000f;
    
}
.calender-container a .calender-icon {

    font-size: 70px;
    background-color: rgba(255, 255, 255, 0.86);
    border-radius: 10px;
    padding: 30px;
    transition: transform 0.3s ease-in-out;
    
}

.calender-container a:hover .calender-icon,
.calender-container a:focus .calender-icon {

    transform: scale(1.05);
}


/*.book-me-icon-heading {
    display: block;
    font-size: 20px;
    padding-top: 10px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 18px;
    text-align: center;
    color: #000;
}*/
.calender-container a .external-link-icon-container {

        display: inline-block;
        position: absolute;
        left: 89%;
        top: 90%;        
}
.calender-container a .external-link-icon-container i {

       
        font-size: 11px;
        color: rgba(59, 58, 71, 0.69);
    
}

.external-link-icon {

        position: absolute;
}

.book-me-article-section-wrapper {

    padding-top: 25px;
    padding-bottom: 25px;
   
}

.book-me-heading-underline:after {

        content:'';
        display: block;
        position: relative;
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        width: 70px;
        height: 1px;
        background: #000000;

}


.article-link {

        font-weight: 500;
        text-decoration: none;
        color: #000;

}

.article-link:hover {

    text-decoration: none;
    color: #000;
  
        
}


.book-me-article-wording p {

    margin-top: 0px;
   

}

.table-section-wrapper {

    background-color:#181818;
}

.rates-heading-container {

    margin-top: 25px;
    margin-bottom: 50px;
    border-radius: 4px;
    position: relative;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    border: 0.5px solid #ebe9e9;
}
    


.rates-heading {

    color: #fff;
    font-weight: 200;
    /*padding-bottom: 5px;*/
    margin-top: 6px;
    margin-bottom: 6px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    letter-spacing: 2px;
    font-size: 16px;
    text-align: center;
    
}
.rates-table-container {

    height: 290px;
    position: relative;
}

.rates-table {

    position: absolute;
    left: 10vw;
    width: 80vw;
    height: 230px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.26);
    
}
.rates-table tr th {

    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 16px;
    text-align: center;
    color: #000;

}

.rates-table tr td {

    font-family: 'Quicksand', sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 13px;
    text-align: center;
    color: #000;
    width: 50%;
}
.rates-table tr td,
.rates-table tr th {

    border: 1px solid rgba(0, 0, 0, 0.26);
}

.table-heading-color {

    background-color: rgb(205, 207, 213);
}

.rates-table tr td {

    background-color: #fff;

}

.book-me-article-desktop-wrapper {

    height: 96.5vh;
}

.book-me-desktop-article-container {
    display: inline-block;
    position: relative;
    top: 45vh;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.86);
    border-radius: 10px;
}

/*-------------- MEDIA QUERIES MAIN PAGE --------------------*/

@media (min-width: 375px) {
    
    .background-image {

        background-position: 35% 0%;
        
    }
}

@media (min-width: 576px) {

   
}



@media (min-width: 768px) {
    
    .background-image {
        
        background-image: url("../images/home-page/Background-Image-Optimized-80percent-1920-1080.jpg");
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        -webkit-animation-name: fade-up;
                animation-name: fade-up;
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        -webkit-animation-duration: 0.5s;
                animation-duration: 0.5s;
        -webkit-animation-delay: 0.5s;
                animation-delay: 0.5s;
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
        -webkit-animation-iteration-count: 1;
                animation-iteration-count: 1;
        
    }

    .background-image-mask {
        
        background-color: rgba(0, 0, 0, 0.25);
        background-position: center;
        
    
    }
}



@media (min-width: 992px) {

   
    .nav-links {

        list-style: none;
        vertical-align: middle;
        padding-left: 0px;
        text-align: right;
        margin-top  : 9px;
        margin-bottom: 9px;
            
    }

    .link-inline {
        
        font-size: 13px;
        padding: 0px 10px 0px 10px;
        font-family: 'Barlow Semi Condensed', sans-serif;
        font-weight: 300;
        letter-spacing: 0.5px;
        font-size: 14px;
        display: inline-block;
    
    }

    .icon-underline {
        width: 25%;

       /* -webkit-animation-name: underline;
                animation-name: underline;
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        -webkit-animation-duration: 0.3s;
                animation-duration: 0.3s;
        -webkit-animation-delay: 1.5s;
                animation-delay: 1.5s;
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
        -webkit-animation-iteration-count: 1;
                animation-iteration-count: 1;
        */
    } 

    .video-wrapper {
        
        margin: 50px;
    
    }

    .speaker-icon {
        
        padding: 14px 10px 6px 10px;
        border: 0.5px solid transparent;
        border-radius: 4px;
       
    }

    .video-icon {
        
        padding: 7px 14.5px;
        border: 0.5px solid transparent;
        border-radius: 4px;
       
    }

    .speaker-icon:hover,
    .speaker-icon:focus {
    
        border: 0.5px solid #ffffffc2;
       /* -webkit-transform: scale(1.0);
            -ms-transform: scale(1.0);
                transform: scale(1.0);*/

    }

    .video-icon:hover,
    .video-icon:focus {
    
        border: 0.5px solid #ffffffc2;
        /*-webkit-transform: scale(1.0);
            -ms-transform: scale(1.0);
                transform: scale(1.0);*/

    }
}

@media (min-width: 1200px) {

    .background-image {

        background-attachment: fixed;
    }

}




/*----------------- MEDIA QUERIES ME PAGE -------------------------------*/
/*---------------------------------------------------------*/


@media (min-width: 375px) {

    .bio-image-background {

    background-position: 50% 0%;

    }
}


@media (min-width: 576px) {

    .scroll-arrow-mobile {
            
        display: none;
    }

    .bio-image-background {
            
        background-size: contain;
        background-attachment: scroll;
        height: 94.5vh;
        
    }
}


@media (min-width: 667px) {
    
        

       /* .bio-image {
            
            height: 94.5vh;      
        }*/

}


@media (min-width: 768px){

    .bio-image-background {
        
        display: none;
        
    }

    
    .bio-image {
        
        height: 94.5vh;      
    }
        

    .client-icons {

        max-width: 35%;
        max-height: 35%;
    }

    /*.bio-section {

        height: 40vh;
        padding-bottom: 50px;
    }*/
    
    .bio-article-wording {
        
            padding-bottom: 50px;
    }
        
}



@media (min-width: 992px) {

    .bio-image {
        
        height: 94.5vh;      
    }
     
    /*.bio-section {

        height: 30vh;
        
    }*/
        

    .bio-article-wording {

        padding-bottom: 20px;
    }
    /*.article-container {
        
        margin-left: 0%;
       
    }*/

    
}



@media (min-width: 1200px) {

    .bio-image {
        padding-top: 0px;
        height: 40vh;
            
    }    
    
    .bio-section {
       padding-top: 0px; 
       height: 60vh;
       opacity: 0;
       -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
       -webkit-animation-name: fade-up;
               animation-name: fade-up;
       -webkit-animation-delay: 1.5s;
               animation-delay: 1.5s;
       -webkit-animation-duration: 0.8s;
               animation-duration: 0.8s;
       -webkit-animation-fill-mode: forwards;
               animation-fill-mode: forwards;
       -webkit-animation-iteration-count: 1;
               animation-iteration-count: 1;
       -webkit-animation-timing-function: ease-in;
               animation-timing-function: ease-in;

    }

    .bio-article-heading {
        
        padding-top: 5px;
    }

    .my-approach-image-1,
    .my-approach-image-2,
    .review-image-3,
    .review-image-4 {

        background-attachment: fixed;
    }
        

}

@media (min-width: 1500px) {

         .bio-image {
        padding-top: 0px;
        height:50vh;
            
    }    
    
        .bio-section {
           padding-top: 25px; 
           height: 50vh;
           /*opacity: 0;
           -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
           -webkit-animation-name: fade-up;
                   animation-name: fade-up;
           -webkit-animation-delay: 1.5s;
                   animation-delay: 1.5s;
           -webkit-animation-duration: 0.8s;
                   animation-duration: 0.8s;
           -webkit-animation-fill-mode: forwards;
                   animation-fill-mode: forwards;
           -webkit-animation-iteration-count: 1;
                   animation-iteration-count: 1;
           -webkit-animation-timing-function: ease-in;
                   animation-timing-function: ease-in;*/
    
        }

        
}
    
/*------------------- LOCATE ME PAGE MEDIA QUERIES -----------*/

@media (min-width: 667px) {

    .map-container {
        
        width: 80vw;
        height: 100vh;
    }
    
}

@media (min-width: 768px) {

    .locate-me-background-image,
    .locate-me-background-image-mask {

        height: 96.5vh;
    
    }

    .map-container {
        
        height: 50vh;
    }
    
}

@media (min-width: 992px) {

    
    .map-wrapper {

        background-color: #fff;
    }
    .map-container {
        left: 0vw;
        width: 50vw;
        height: 540px;
    }

    .map-container iframe {
        position: relative;
       
        left: 15%;
        width: 70%;
        height: 80%;
    }

    .locate-me-article-section-wrapper {
        
        height: 540px;
        padding-top: 70px;
        
    
    }

    /*.heading-and-article-position {
  
        position: relative;
        top: 40px; 
   
    }*/

}

/*@media (min-width: 1200px) {

    .locate-me-article-section-wrapper {
        
        height: 540px;
        
    
    }

    .map-container {
        left: 0vw;
        width: 50vw;
        height: 540px;
    }

    .map-container iframe {
        position: relative;
       
        left: 15%;
        width: 70%;
        height: 80%;
    }

    .heading-and-article-position {
  
        position: relative;
        top: 40px;
        
        
   
    }

    

}*/

@media (min-width: 1200px) {

    .locate-me-background-image {

        background-attachment: fixed;
        
    }
}

/*-------------------- BOOK-ME PAGE MEDIA QUERIES ---------*/

@media (min-width: 768px) {
    .book-me-background-image {

        background-image: url("../images/book-me-page/s3-top-down-1920-1080.jpg");
        
    }
    .book-me-background-image,
    .book-me-background-image-mask {
        
        height: 96.5vh;
    
    }
}

@media (min-width: 992px) {

    .book-me-background-image {

        background-position: 50% 50%;
    }

    .book-me-article-section-wrapper {

        padding-top: 57px;
        padding-bottom: 57px;
       
    }
    .calender-container a .calender-icon {

        font-size: 100px;
        background-color: rgba(255, 255, 255, 0.86);
        border-radius: 10px;
        padding: 50px;
    }

    .calender-container a .external-link-icon-container i {
        font-size: 16px;
    }    
}

@media (min-width: 1200px) {

    .book-me-background-image {

        background-attachment: fixed;
       
    }

    .calender-container a {

        left: 50%;
    }

    .rates-table {
        
        left: 25vw;
        width: 50vw;
       
    }
}
    /*-------------- ANIMATIONS -------------------------*/

@-webkit-keyframes fade-up {
    
    from {

        opacity: 0;

        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }

    to {

        opacity: 1;

        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

    }
}

@keyframes fade-up {
    
    from {

        opacity: 0;

        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }

    to {

        opacity: 1;

        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

    }
}

/*@-webkit-keyframes underline {

    from {

      
        border: 0.5px solid transparent;
    }

    to {

        
        border: 0.5px solid rgba(255, 255, 255, 0.28);

    }
}

@keyframes underline {

    from {

       
        border: 0.5px solid transparent;
    }

    to {

        
        border: 0.5px solid rgba(255, 255, 255, 0.28);

    }
}

@-webkit-keyframes underline-mobile {
    
    from {

       
        border: 0.5px solid transparent;
    }

    to {

        
        border: 0.5px solid rgba(255, 255, 255, 0.28);

    }
}

@keyframes underline-mobile {
    
    from {

      
        border: 0.5px solid transparent;
    }

    to {

     
        border: 0.5px solid rgba(255, 255, 255, 0.28);

    }
}*/

@-webkit-keyframes arrow-down {
    
    from {

        top: 10%;
        
    }

    to {

        top: 65%; 
       

    }
}

@keyframes arrow-down {
    
    from {

        top: 10%;
        
    }

    to {

        top: 65%; 
       

    }
}

/*@-webkit-keyframes arrow-down-mobile {
    
    from {

        top: 85vh;
        
    }

    to {

        top: 90vh;

    }
}

@keyframes arrow-down-mobile {
    
    from {

        top: 85vh;
        
    }

    to {

        top: 90vh;

    }
}*/
  
    