/**/

@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed:300,300i,400,400i,500,500i,600,600i,700,700i|Barlow+Semi+Condensed:300,300i,400,400i,500,500i,600,600i,700,700i|Hind+Vadodara:300,400,500,600,700|Khand:400,500,600,700");


/*------------------------------ GLOBAL LAYOUT ---------------------------------------*/

.header-layout {

    margin: 0;
    padding: 0;
    max-height: 12%;
}


.header-title-layout,
.section-layout {

    padding: 0px;

}

.section-layout {

    height: 88vh;
    width: 100vw;
}






/*------------------------------ MEDIA ---------------------------------------*/

.main-page-media {

    margin: 0px;
}

.main-page-icon {

    padding: 0px;
}


/*------------------------------ BACKGROUND IMAGES -----------------------------*/

.background-image {

    /*background-color: #646a72;*/
    background-image: url("../images/Background-Image-Optimized-667-375.jpg");
    background-position: center;
    background-size: cover;
    height: 100%;
    padding: 0px;
    margin: 0px;

}


/* ----------------------------- VIDEO AND AUDIO ------------------------------*/

/*---- main page responsive embed --------------------*/

.media-container-row {

    width: 100vw;
    padding: 0;
    margin: 0;
}

.video-wrapper {}

.video-aspect {

    padding-bottom: 56.25%;
}

.video-responsive-container {

    position: relative;
    padding-tOp: 0px;
    padding-left: 0px;
    height: 0;
    display: block;
    overflow: hidden;

}




.video-clip-one,
.video-clip-two
    {
        
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;


}

.video-clip-one
    {

    padding-right: 0px;
}

.video-clip-two
    {
        
    padding-left: 0px;

}



/*



.audio-responsive-container {
    position: relative;
    padding-bottom: 20%;
    padding-top: 0px;
    height: 0;
    overflow: hidden;
    border: 0px;
}

.audio-responsive-container audio {

    position: absolute;
    top: 0;
    left: 25%;
    width: 50%;
    height: 50%;

}


.video-clip {}

.audio-clip {

    border-radius: 10px;


}


/* ----------------------------- ICONS --------------------------------------*/

.video-icon-container-layout {

    padding-top: 30px;
    padding-bottom: 15px;
    padding-right: 0px;
    padding-left:0px;

}



.video-icon {

    background-image: url("../images/tv_straight_white_31by41.png");

    /*background-color: #000;*/
    height: 82px;
    background-repeat: no-repeat;
    background-position: center;



}


.audio-icon {

    background: url("../images/speaker_yellow_50px_mobile.png");
    background-position: center;
    background-repeat: no-repeat;
    min-height: 151px;



}

/*-------------------------------- END OF MEDIA ----------------------------*/

/*-------------------------------- HEADER ----------------------------------*/

.main-heading {

    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 16px;
    margin-bottom: 6px;
    text-align: center;
    /*border: 0.5px solid black;*/
}

.main-heading .header-bold {

    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 700;

}

.header-title-layout hr {

    margin-top: 0px;
    margin-bottom: 5px;
    max-width: 50px;
    border-top: 0.5px solid #d7d7d7;
}


.links-container {

    /*position: relative;*/
    /*width: 100vw;*/
    margin: 0 auto;
    padding-top: 5px;
}

.nav-links {

    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 300;
    letter-spacing: 0.5px;
    font-size: 12px;
    list-style: none;
    margin-bottom: 5px;
    margin-top: 0px;
    padding-left: 0px;
    text-align: center;
    /*margin: 0 auto;*/
}

.link-inline {

    display: inline-block;
    padding-left: 20px;
    padding-right: 20px
}

.link-item {

    text-decoration: none;
    color: #000;


}

.link-item:hover,
.link-item:focus {

    text-decoration: none;

}

/*-------------------------------- SECTION ----------------------------------*/

.video-title-container {

    padding-bottom: 5px;
}

.video-title {

    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 10px;
    margin-bottom: 6px;
    text-align: center;
    color: #fff;
    /*border: 0.5px solid black;*/
}
